# .NET Class Library .gitignore 
bin/ 
obj/ 
.vs/ 
*.user 
*.suo 
*.userosscache 
*.sln.docstates 
*.vscode/ 
TestResults/ 
*.log 
SimpleAgendaTest\UnitTest\Public/ 
SimpleAgendaTest/UnitTests/Public/ 
